*{
    box-sizing: border-box;
}

body{
    color: #777;
    line-height: 1.8;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin: 0;
}

h3{
   font-family: Lato,sans-serif; 
   font-weight: 400;
   font-size: 24px;
   color: #777777;
   margin: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    opacity: 0.6;
}

.opacity[data-opacity="true"]:hover{
    opacity: 1;
    cursor: pointer;
}
.opacity{
     opacity: 0.70;
}

.padding-small{
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-large{
    padding-top: 64px;
    padding-bottom: 64px;
}

.row::before,.row::after{
    content: '';
    display: table;
    clear: both;
}

.row h3,.row p{
    text-align: center;
 
}

.p-large{
    font-size: 18px;
}

.p-small{
    font-size: 15px;
}

.showcase{   
    background-image: url('../image/parallax1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;   
}

.showcase-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.showcase-logo span{
    background-color: #000;
    color: #ffffff;
    font-size: 24px;
    padding:15px 20px 15px 20px;
    letter-spacing: 0.4em;
    word-spacing: 0.4em;
    white-space: nowrap;
}

.container-mid{
    margin: 0 15% 0 15%;
    width: 85%;
    max-width: 980px;
}

.container-mid p{
    text-align: left;
}

.col-1{
    width: 49.999%;
    float: left;
    max-width: 100%;
}

.col-mid{
    width: 33.33%;
    float: left;
}

.col-mid-x{
    width: 66.66%;
    float: left;
}

.p-center p{
    text-align: center;
    font-weight: bold;
}

.col-1 img{
    height: auto;
}
.col-1 p,.col-1 img{
    padding: 12px 24px;
}

.fa-user{
 margin-right: 0.3em;
}

.p-wide p{
    letter-spacing: 0.5em;
}
.align-center p{
    text-align: center;
}

.skill-bar{
    background-color: #f1f1f1!important;
}
.loader{
    background-color: #616161!important;
    text-align: center;
    padding: 8px;
    color: #fff;
}

.full-container{
    width: 100%;
    background-color: #616161;
}

.client-column{
    padding: 16px;
    color: #fff;
    font-size: 24px;
}

.client-section{    
    width: 24.9999%;
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.client-section{
   text-align: center;
}

.client-section p{
    margin:0;
}

.portfolio span{
    background-color: inherit;
    font-size: 36px;
}


.img-section{
    width: 24.99%;
    float: left;    
    padding: 0 8px;
    cursor: pointer;
}

.img-section:hover{
    opacity: 0.60;
}

.row-1{
    padding-top: 8px;
}

.button{
    border: none;
    padding:20px;
    cursor: pointer;
}

.img-borderradius{
    border-radius: 5px;
}


.align-center{
    text-align: center;
}

.align-left{
    text-align: left !important;
}
.button:hover,.button:hover i{
    background-color: #ccc!important; 
    color: #000!important;  
}

.col-mid img{
    width: 100%;
    padding-right: 15px;
}


.contact-info li{
    list-style: none;
    margin: 0;
}

.contact-info ul{
    padding: 0;
}
.contact-info i{
    font-size: 24px;
    padding-right: 10px;
}
.contact-info{
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 15px;
}

form input{
    padding:10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.input-small{
    width: 49.50%;
}

.input-large{
    margin-top: 10px;
    width: 100%;
}

.btn-submit{
    margin-top: 20px;
    float: right;
    background-color: #000;
}

.btn-submit i,.btn-submit{
    font-size: 15px;
    color: #fff;
}

.footer-clmn{
    padding:100px ;
    background-color: #000;
    text-align: center;
    color: #fff;
}

i:hover{
    color: #000;;
}

.social-icon{
    margin:10px ;
    font-size: 24px;
}

.icon:hover{
    opacity: 0.6;
}


@media only screen and (min-width: 320px) and (max-width: 479px){ 
	.mob-hide{
		display: none;
    }
    
    .abt-image{
        width: 100%;
        
    }

    .container-mid {
        margin: 0 10% 0 7%;
    }

    .col-1{
        width: 100%;
    }
    .padding-large{
        padding-top: 0;
    }

    .img-section{
        width: 100%;
    }

    .row-1{
        padding-bottom: 0px;
    }

    .button{
        padding-top: 10px;
    }
    .col-mid,.col-mid-x ,.col-mid-x form input{
        width: 100%;
    }

    .input-small,.input-large{
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .col-mid img{
        padding-right: 0px;
    }

    .btn-submit{
        padding: 10px;
    }

    .social-icon{
        width: 100%;
    }

    .container-mid p{
        text-align: justify;
    }

    .button{
        padding:10px ;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 

}
 
@media only screen and (min-width: 768px) and (max-width: 991px){

}
 
@media only screen and (min-width: 992px){

}

nav a ,nav li{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

